<main class="contact-page container" role="complementary">
  <h1 class="page-title d-flex justify-content-center">
    Contact Me... 
</h1>

<section class="row aboutme ">
<div class="col-lg-6 col-sm-12 d-flex flex-column text-center">
<div class="col-sm-12 ">
  <img src="https://i.ibb.co/ccz3zCx/Bashar-Img.png" alt="image Bashar Mohamad" class="aboutme-img w-25">
</div>
<div class="col-sm-12">
<h1>About Me..</h1>
</div>
<div class="col-sm-12 px-sm-5">
  <p>I have a passion for building applications and websites,
    and interest in new technology.
    I am someone who likes to find the solution. That's always one for me
    been a challenge. I am also able to work independently as well as in
    team to carry out my work.
    My pleasure lies in learning what I need to be myself
    develop</p>
</div>
</div>

<form class="col-lg-6 col-sm-12">
  <div class="mb-3">
    <label for="NameInput" class="form-label">Name</label>
    <input type="text" class="form-control" id="NameInput" placeholder="Your Name">
  </div>
<div class="mb-3">
  <label for="EmailInput" class="form-label">Your E-mail</label>
  <input type="email" class="form-control" id="EmailInput" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="TextareaInput" class="form-label">Your Question</label>
  <textarea class="form-control " id="TextareaInput" rows="3" placeholder="Input Text here..."></textarea>
</div>
<button type="submit" class="btn-form">Send me</button>

</form>
</section>
</main>