
<nav class="navbar-container">
  <a routerLink="home-page"
  class="logo"
  >BASHAR</a>
  
  <ul class="navbarlist">
    <li class="navbaritem"><a type="button" class="btnnavbar" routerLink="home-page">Home</a></li>
    <li class="navbaritem"><a type="button" class="btnnavbar" routerLink="skilles-page">Skilles</a></li>
    <li class="navbaritem"><a type="button" class="btnnavbar" routerLink="projects-page">Projects</a></li>
    <li class="navbaritem"><a type="button" class="btnnavbar" routerLink="contact-page">Contact Me</a></li>
    <li class="navbaritem"><a type="button" class="btnnavbar" routerLink="cv-page">Cv</a></li>
  </ul>
  </nav>
