
<nav class="navbar-container container-fluid">
  <a routerLink="home-page"
  class="logo d-flex align-content-center"
  >
  <img src="https://i.ibb.co/K9BN9Kv/Digital-Code.png" class="logo-img mx-1" alt="Logo image">BASHAR</a>
  
  <ul class="navbarlist">
    <li class="navbaritem"><a type="button" class="btnnavbar" routerLink="home-page">Home</a></li>
    <li class="navbaritem"><a type="button" class="btnnavbar" routerLink="skills-page">Skills</a></li>
    <li class="navbaritem"><a type="button" class="btnnavbar" routerLink="projects-page">Projects</a></li>
    <li class="navbaritem"><a type="button" class="btnnavbar" routerLink="contact-page">Contact Me</a></li>
    <mat-slide-toggle>Slide me!</mat-slide-toggle>
  </ul>
  </nav>
