   <main class="home-page" role="complementary">
    <section>
      <div class="row section-container "> 
        <div class="col-lg-6 col-sm-12 my-1 d-flex  section-text">
          <div class="section-icon">
            <a href="https://www.linkedin.com/in/bashar-mohamad-45111618a/" target="_blank" type="button" class="iconLinke">
              <i class="fab fa-linkedin"></i></a>
           <a href="https://github.com/Bashar27689" target="_blank" type="button" class="iconLinke">
             <i class="fab fa-github"></i></a>
          </div>
        
          <h1 class="txt">I'm Bashar</h1>
          <p>Front-end Developer with a lot of passion and motivation</p>
          <button class="btn">My work</button>
        </div>
    
        <div class="col-lg-6 col-sm-12 my-1 d-flex justify-content-center ">
          <img class="section-img" src="https://i.ibb.co/ccz3zCx/Bashar-Img.png" alt="image Bashar Mohamad">
         </div>
    
       </div>
    </section>
      
    </main>

