   <main class="container-fluid" role="complementary">
    <section>
      <div class="row section-container "> 
        <div class="col-lg-6 col-sm-12 section-text">
          <div class="section-icon">
            <a href="#"><i class="fab fa-linkedin"></i></a>
           <a href="#"><i class="fab fa-github"></i></a>
          </div>
        
          <h1 class="txt">I'm Bashar</h1>
          <p>Front-end Developer with a lot of passion and motivation</p>
          <button class="btn">My work</button>
        </div>
    
        <div class="col-lg-6 col-sm-12 d-flex justify-content-center ">
          <img class="section-img" src="https://i.ibb.co/ccz3zCx/Bashar-Img.png" alt="image Bashar Mohamad">
         </div>
    
       </div>
    </section>
      
    </main>

