<main class=" container mt-2  projects-page" role="complementary">
  <h1 class="page-title d-flex justify-content-center">
    My projects 
</h1>
  <div class="row">
    <div class="col-md-6 col-sm-12 d-flex justify-content-center my-1 ">
      <div class="card">
        <img src="https://i.ibb.co/WzdH9rj/arnhem.jpg" class="card-img-top" alt="Visit Arnhem project image">
        <div class="card-body">
          <h5 class="card-title">First project</h5>
          <p class="card-text">Best places to visit in Arnhem</p>
          <a href="https://arnhem-2022.web.app/home " target="_blank" class="btn btn-primary">Click to visit</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 d-flex justify-content-center my-1">
      <div class="card">
        <img src="https://i.ibb.co/DgZmP3C/comingsoon.jpg" class="card-img-top" alt="Visit Arnhem project image">
        <div class="card-body">
          <h5 class="card-title">online store</h5>
          <p class="card-text">online store by angular framework</p>
          <a href="#" target="_blank" class="btn btn-primary disabled ">Click to visit</a>
        </div>
      </div>
    </div>
  </div>

</main>