<main class="container mt-2  text-center skills-page">
    <h1 class="page-title d-flex justify-content-center">
        My skills 
    </h1>
    <div class="row ">
        <div class="col-md-4 col-sm-12">
            <img class="skilles-logo" src="../../../assets/svg/Html.svg" alt="Html logo">
        </div>

        <div class="col-md-4 col-sm-12">
            <img class="skilles-logo" src="../../../assets/svg/css.svg" alt="Css logo">
        </div>

        <div class="col-md-4 col-sm-12">
            <img class="skilles-logo" src="../../../assets/svg/bootstrap.svg" alt="Bootstrap logo">
        </div>

       
    </div>

    <div class="row">
        <div class="col-md-4  col-sm-12">
            <img class="skilles-logo" src="../../../assets/svg/js.svg" alt="Javascript logo">
        </div>

        <div class="col-md-4 col-sm-12">
            <img class="skilles-logo" src="../../../assets/svg/angular.svg" alt="Angular logo">
        </div>

        <div class="col-md-4 col-sm-12">
            <img class="skilles-logo" src="../../../assets/svg/c.svg" alt="C sharp logo">
        </div>

    </div>

    <div class="row">
        <div class="col-md-4  col-sm-12">
            <img class="skilles-logo" src="../../../assets/svg/vs.svg" alt="Visual Studio logo">
        </div>

        <div class="col-md-4 col-sm-12">
            <img class="skilles-logo" src="../../../assets/svg/azure.svg" alt="Azure Devops logo">
        </div>

        <div class="col-md-4 col-sm-12">
            <img class="skilles-logo" src="../../../assets/svg/scrum.svg" alt="Scrum logo">
        </div>

    </div>

</main>